<div class="new-author"> 
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input [(ngModel)]="author.name" name="name" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="yearOfBirth">Year of birth:</label>
      <input [(ngModel)]="author.yearOfBirth" name="yearOfBirth" type="number" class="form-control">
    </div>
    <button class="btn btn-primary" (click)="save()">Submit</button>
  </form>
</div>

