<div class="addArea">
  <div class="buttonArea">
    <button type="button" class="btn btn-primary add" (click)="openModalWithComponent()">ADD NEW AUTHOR</button>
  </div>
  <div class="table">
    <table>
      <thead>
        <tr class="author-header">
          <td>Name of author</td>
          <td>Year of birth</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let author of authors">
          <td class="author-name">{{ author.name}}</td>
          <td>{{ author.yearOfBirth}}</td>
          <td>
            <button class="btn btn-danger"  (click)= "delete(author)">Delete author</button>
            <span class="material-icons recycle-bin" (click)="delete(author)">delete</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  
  


  