
.book-details{
  margin-top: 32px;
  
  .close{
    position: relative;
    .close-btn{
      position: absolute;
      right: 10px;
      bottom: 30px;
    }
  }
  .book-header{
    position: relative;
    background-color: #122e63;
    margin-top:64px;
    height: 100px;
    font-size: 10px;
    color: white;
    .icons{
      display: flex;
      justify-content: flex-end;
      .material-icons{
        color: white;
      }
    }
    .txt{
      font-size: 14px;
      margin-top: 23px;
      margin-left: 20px;
    }
  } 

  .image{
    background-color: #FFEFD5; 
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 80%;
      max-height: 267px;
      
    }
  table {
    table-layout: fixed;
    width: 200px;
    margin: 30px;
    font-family: Arial; 
    font-size: 80%;
    background-color: #f5f5f5;
    td { 
      display: table-cell;
      vertical-align: top; 
      width: 150px;
    }
    input{
      width: 50px;
      height: auto;
    }
  }
}
  }





  
  // q{
  //   display: flex;
  //   }

  